<h1>List of cocktails</h1>
<br>
<%= link_to "New cocktail", new_cocktail_path %>
<br>
<br>
<%= cl_image_tag("k7nmaeqhzkmaawpbbqc9",
      width: 400, height: 300, crop: :fill) %>

<ul>
  <% @cocktails.each do |cocktail| %>
    <li>
      <%= link_to cocktail_path(cocktail) do  %>
      <p><%= cocktail.name %></p>
      <% end %>
    </li>
  <% end %>
</ul>

